/* Root Variables */
:root {
    --scroll-bar-width: 0px;
    --skybox-height: 0px;
    --header-bottom: 0px;
    --sticky-toc-height: 0px;

    /* CNET Colors */
    --color-cnet-off-black: #020203;
    --color-cnet-lime-primary: #b4fd8c;
    --color-cnet-purple-primary: #7a2af5;
    --color-cnet-red-primary: #e71d1d;

    /* Fonts */
    --font-cnet-sans: MonumentGrotesk, sans-serif;
    --font-cnet-serif: Stardust, serif;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 0;
}

/* HTML */
html {
    font-family: var(--font-cnet-sans);
    font-size: 16px;
    color: var(--color-cnet-off-black);
}

/* Body */
body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.625rem;
    word-spacing: 0.1em;
}

/* Dynamic values applied by JavaScript or inline styles */
body.c-adSkyBox-expanded {
    --scroll-bar-width: 15px;
    --header-bottom: 0px;
    --skybox-height: 231px;
    --skybox-height-sticky: 0px;
}

/* Responsive layout */
@media (min-width: 640px) and (max-width: 1919px) {
    body.c-adSkyBox-expanded {
        --qs-reserved: calc(
            (100vw - var(--scroll-bar-width, 0px))
            / 5.485714285714286
        );
    }
}
